body{
    margin: 0;
    padding: 0;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  width: 100%;
}

h2 {
  text-align: center;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
}

.navButtonStyle {
  text-align: center;

}

