.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;

  header {
    h2 {
      font-size: 6rem;
      background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 166, 4));
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
    }
  }

  .colorSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btnContainer {
    display: flex;
    transition: margin-top 0.5s ease-out;
    margin-top: 2rem;
    > button {
      margin: 0 10px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.colorBlockContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  
  
  animation: fadeIn 0.5s ease-out;

  .colorBlock {
    width: 200px;
    height: 200px;
  }

  .colorInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    width: 100%;

    span {
      margin-right: 10px;
      color: white;
    }

    button {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 1rem;
      position: relative;

      img {
        margin-left: 5px;
        height: 16px;
        width: auto;
      }

      &:hover {
        color: #aaa;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .container {
    margin-top: 300px;
  
  
    .colorSection {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 440px;
      margin: auto;      
      margin-bottom: 30px;
    }

    .btnContainer {
      display: flex;
      flex-direction: column;
      transition: margin-top 0.5s ease-out;
      margin-top: 25rem;
      margin: 0.33rem;
      
      button{
        margin-bottom: 10px;
      }
      
      
    }
  }
  
 

}


@media only screen and (max-width: 1120px) {
  .container {
    margin-top: 300px;
  
  
    .colorSection {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 440px;
      margin: auto;      
      margin-bottom: 30px;
    }

    .btnContainer {
      display: flex;
      flex-direction: column;
      transition: margin-top 0.5s ease-out;
      margin-top: 25rem;
      margin: 0.33rem;
      
      button{
        margin-bottom: 10px;
      }
      
      
    }
  }
  
 

}
